/* #620CF3;*/
/*#f60f09*//* #9df30c;*/
/* aligns clearButton and calculatorDisplay*/

body {
    background-color: grey;
    text-align: center;
}
.heading {
    color: #09f0f6;
}
.calculator {
    position: absolute;
    left: 46%;
    width: 300px;
    margin-left: -100px;

    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #09f0f6;
}

.clearDisplay, .calculatorDisplay {
    display: inline-block;
    vertical-align: middle; 
}

.calculatorDisplay {
    width: 110px;
    height: 20px;
    border: 1px solid #1b06f9;
    border-radius: 5px;
    background-color: #e4f906;
}

button {
    border-radius: 5px;
} 

/* Buttons below are active with JavaScript */
/* .number2Button, .clearButton, .additionButton, .equalButton {
    background-color: #07f87e;
} */
